<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>i情音 上墙审核查看</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/static/wechat/js/jquery.min.js"></script>
    <script src="/static/wechat/js/jquery.dataTable.js"></script>

    <style>

        @keyframes float {
            from {
                transform: translateY(0px);
            }
            to {
                transform: translateY(-15px);
            }
        }
        .main-content{
            position: relative;
            width: 80%;
            margin: 0 auto;
        }

        .tips{
            font-size: 12px;
            color: #545454;
        }


        .red{
            color:red;
        }
        .marginB{
            margin-bottom: 25px;
        }
        .marginB5{
            margin-bottom: 5px;
        }
    </style>
</head>
<body>


    <div class="main-content">
        <div class="titleDiv">
            <h2 class="title">i情音 上墙申请</h2>
        </div>
        <div>
            <div class="marginB tips">
                id <span class="red">*</span>：<span th:text="*{loveSoundWechatUpwall.id}"></span>
            </div>
            <div class="marginB tips">
                姓名 <span class="red">*</span>：<span th:text="*{loveSoundWechatUpwall.name}"></span>
            </div>
            <div class="marginB tips">
                性别 <span class="red">*</span>：<span th:text="*{loveSoundWechatUpwall.sex} == 0 ?'女':'男'"></span>
            </div>
            <div class="marginB tips">
                微信 <span class="red">*</span>：<span th:text="*{loveSoundWechatUpwall.wechat}"></span>
            </div>
            <div class="marginB tips" style="width: 90%;">
                <div class="marginB5">
                    请描述您的年龄 身高 星座 职业 混迹区 <span class="red">*</span>：<span th:text="*{loveSoundWechatUpwall.baseInfo}"></span>
                </div>
            </div>
            <div class="marginB tips" style="width: 90%;">
                <div class="marginB5">
                    兴趣爱好 <span class="red">*</span>：
                </div>
                <div th:text="*{loveSoundWechatUpwall.interest}"></div>
            </div>
            <div class="marginB tips" style="width: 90%;">
                <div class="marginB5">
                    自我介绍 <span class="red">*</span>：
                </div>
                <div th:text="*{loveSoundWechatUpwall.selfIntroduction}"></div>
            </div>
            <div class="marginB tips" style="width: 90%;">
                <div class="marginB5">
                    交友要求 <span class="red">*</span>：
                </div>
                <div th:text="*{loveSoundWechatUpwall.demand}"></div>
            </div>
            <hr/>
            <div class="marginB tips">
                <p>照片列表</p>
            </div>
            <div class="marginB tips">
                照片1 <span class="red">*</span>：
                <img th:src="*{loveSoundWechatUpwall.imgUrls.split(',')[0]}" />
            </div>
            <div class="marginB tips">
                照片2 <span class="red">*</span>：
                <img th:src="*{loveSoundWechatUpwall.imgUrls.split(',')[1]}" />
            </div>
            <div class="marginB tips">
                照片3 <span class="red">*</span>：
                <img th:src="*{loveSoundWechatUpwall.imgUrls.split(',')[2]}" />
            </div>
            <div class="marginB tips">
                照片4 ：
                <img th:src="*{loveSoundWechatUpwall.imgUrls.split(',').length > 3 ? loveSoundWechatUpwall.imgUrls.split(',')[3]:''}" />
            </div>
            <div class="marginB tips">
                照片5 ：
                <img th:src="*{loveSoundWechatUpwall.imgUrls.split(',').length > 4 ? loveSoundWechatUpwall.imgUrls.split(',')[4]:''}" />
            </div>

        </div>
    </div>

</body>
</html>